<% @puppies.each do |puppy| %>
<ul><p>Name: <%= puppy.name %></p></ul>
<ul><p>Breed: <%= puppy.breed %></p></ul>
<ul><p>Age: <%= puppy.age %></p></ul>
<% end %>

<a href='/new'>Click Here To List A Puppy</a>